.base-action-panel {
  &__popup {
    absolute(0px);
    right 0
    z-index: 5;
    background: $color--white;
  }
  &__content {
    .base-button + .base-button {
      margin-top: 0.5em;
    }
  }
}