.base-input {
  &__label {
    display block
  }
  &__label-text {
    font: $font-size-base/1 $font-base;
    margin-bottom: 0.5em;
    transform: translateZ(0);

    .required-star {
      color: $color--error;
    }
  }

  &__input {
    display block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font: $font-size-base/1 $font-base;
    padding: 0.75em 1em;
    border: 1px solid $color--grey;
    box-shadow: inset 0 0 5px rgba($color--black, 0.1);
    background: $color--light;
  }
}